*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.nav{
    background: #333;
    color: white;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linkler{
    margin: 0;
    list-style: none;
    display: flex;
}

.link{
    padding : .5rem
}

.link:hover{
    background-color: #777;
}

.link a{
    text-decoration: none;
    color : white
}

.logo{
    cursor: pointer;
}