* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.top-bar {
    background-color: #3d5467;
    color: #da4167;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 3rem;
    padding: 1rem;
    text-transform: uppercase;
    flex-grow: 1;
}

.menu {
    flex-grow: 3;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    flex-grow: 1;
}

.menu ul li a {
    font-size: 1.2rem;
    color: inherit;
    text-decoration: none;
}

.banner {
    background: url('https://source.unsplash.com/random/1024x1024') no-repeat;
    background-size: cover;
}

.banner-text {
    padding: 10% 0;
}

.banner-text-item {
    margin: auto;
    width: 70%;
}

.banner-text-item h2 {
    font-size: 3rem;
    margin-bottom: 1.2rem;
    color: #3d5467;
    text-transform: uppercase;
}

.banner-text-item p {
    font-size: 2rem;
    color: #da4167;
    line-height: 1.5;
}

.main-content {
    display: flex;
    flex-direction: row;
    padding: 2% 0;
}

.main-item {
    flex-grow: 1;
    margin: auto;
    text-align: center;
    padding: 2%;
    line-height: 1.5;
}

.main-item h2 {
    color: #da4167;
}

.main-item p {
    margin-top: 0.5rem;
}

.form-container {
    background: url('https://source.unsplash.com/random/1020x1020') no-repeat;
    background-size: cover;
}

.form-container h2 {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    color: #da4167;
}

.form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

.form input,
.form textarea {
    padding: 1rem;
    margin-bottom: 1rem;
    width: 90%;
    border-radius: .5rem;
    outline: none;
    border: 1px solid #da4167;
}

.form button {
    background-color: #da4167;
    padding: 1rem;
    margin-top: 1rem;
    color: white;
    width: 50%;
    border: none;
    font-size: 1.2rem;
}

@media all and (max-width:600px) {
    .top-bar {
        flex-direction: column;
        text-align: center;
    }
    .menu ul {
        flex-direction: column;
        margin-top: 1rem;
    }
    .menu ul li {
        padding: 5px;
    }
    .banner h2 {
        font-size: 2rem;
    }
    .banner-text-item p {
        font-size: 1.5rem;
        line-height: 1.2;
    }
    .main-content {
        flex-direction: column;
        padding: 2%;
    }
}

@media (max-width:1440) {}