.container{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit,minmax(201px,1fr));
    grid-auto-rows: 201px;
    grid-auto-flow: row dense;
}


.v{
    grid-row: span 2;

}

.h{
    grid-column: span 2;

}

.b{
    grid-column: span 2;
    grid-row: span 2;

}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}