html,body {
    background-color: #1f1e1d;
    margin: 10px;
}


.container4{

    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    grid-template-rows: repeat(2,100px);
    grid-auto-rows: 100px;
    grid-auto-columns: 50px;
}


.container3{
    display: grid;
    gap: 5px;
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
    "header header header header"
    "m c c c"
    "f f f f";
}

.container1{
    text-align: center;
    font-size: 2em;
    color: #ffeead;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,3fr);
    gap: 50px;
}

.container2{
    gap: 3px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 40px 240px 40px;
}

/* .header{
    grid-column: 4/-1;
}

.menu{ 
    grid-column: 1/4;
    grid-row: 1/3;
}

.content{
    grid-column: span 9;
}

.footer{
    grid-column: 1/-1;
} */

.container div:nth-child(1n){
    background-color: #96ceb4;
}

.container div:nth-child(3n){
    background-color: #88d8b0;
}

.container div:nth-child(2n){
    background-color: #ff6f69;
}

.container div:nth-child(4n){
    background-color: #ffcc5c;
}