<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/blog">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <form action="/blog" method="post">
                    <div class="field has-addons">
                        <div class="control">
                          <input class="input is-primary" type="text" name="search" placeholder="Arama Yap">
                        </div>
                        <div class="control">
                          <button class="button is-primary" type="submit">
                            Arama
                          </button>
                        </div>
                      </div>
                </form>
            </div>
        </div>
    </div>
</nav>