input{
    margin: 0.5em;
}

.input{
    border: 1px solid #aaa;
    outline: none;
    font-size: inherit;
    padding: 0.5em;
    border-radius: .25em;
}

.input:focus{
    border-color: #0087E4;
    box-shadow: 0 0 5px 0 #0087E4;
}

.input-success{
    border:1px solid #27AE60
}

.input-success:focus{
    border:1px solid #2ECC71;
    box-shadow: 0 0 5px 0 #2ECC71;
}

.input-danger{
    border:1px solid #C0392B
}

.input-danger:focus{
    border:1px solid #E74C3C;
    box-shadow: 0 0 5px 0 #E74C3C;    
}

.input-large{
    font-size: 1.25em;
}

.input-small{
    font-size: 0.75em;
}


.input:disabled{
    background-color: #eaeaee;
}