<%- include('../partials/_header') %> 

<div class="columns">

    <div class="column is-8 is-offset-2">

        <%- include('../partials/_makale_card',{makale,index:undefined})  %> 

    </div>

</div>